@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #ffffff;
  --color-text-light: #000000;
  --color-background-dark: #000000;
  --color-text-dark: #ffffff;
}

.light-mode {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

.dark-mode {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

input{
  color: var(--color-text-light);
}

textarea{
  color: var(--color-text-light);
}